{% extends "base.html" %}

{% block add_head %}
<script src="{{js_path}}jquery.upvote.js"></script>

<link rel="stylesheet" href="{{css_path}}jquery.upvote.css">
{% endblock %}

{% block add-theme-selected %}class="active"{% endblock %}

{% block content %}
	<div class="container-fluid">
		{% if created %}
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="label label-info" style="font-size:large;">Theme Added Successfully!</div>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-warning">
					<div class="panel-heading x-large-font">Add Theme
					    <div class="well well-sm medium-font">
					        Used as the theme of an entire show! Some examples are Sci-fi, 80s, or Under the Sea.
					        <br/>Make sure your themes are smart and from the heart!
					    </div>
					</div>
					<div class="panel-body">
						<form action="/add_themes/" method="post">
						    <div class="row">
						        <div class="col-sm-12">
								    <input type="text" class="form-control" name="entry_value">
								</div>
							</div>
							<div class="row text-center">
								<button type="submit" class="btn btn-danger">Add Theme</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading x-large-font">Vote for Themes</div>
					<div class="panel-body">
						{% for theme in themes %}
							<div class="row">
							    <div class="col-sm-2">
                                    <form action="/add_themes/" method="post">
                                        <input type="hidden" name="upvote" value="{{theme.key.id}}"/>
                                        <button type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-circle-arrow-up vote-button-label">Upvote</span>
                                        </button>
                                        <span class="vote-value">&nbsp;{{theme.vote_value}}</span>
                                    </form>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
								    <span class="word-wrap entered-value">{{theme.name}}</span>
								</div>
							</div>
							{% if is_admin or session_id == theme.session_id %}
							    <div class="row">
                                    <div class="col-sm-2">
                                        <br/>
                                        <form action="/add_themes/" method="post">
                                            <input type="hidden" name="delete_id" value="{{theme.key.id}}"/>
                                            <button type="submit" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-trash vote-button-label">Delete</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
							{% endif %}
							{% if not forloop.last %}
								<hr class="thick-divider bg-primary"/>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}