{% extends "base.html" %}

{% block add_head %}
<link rel="stylesheet" type="text/css" href="{{css_path}}jquery.datetimepicker.css"/ >
<script src="{{js_path}}jquery.datetimepicker.js"></script>

<script>
$(document).ready(function(){
  $('#datetimepicker').datetimepicker({
  	format:'d.m.Y H:i',
  	inline:true,
  });
});
</script>
{% endblock %}

{% block admin-selected %} active{% endblock %}
{% block add-player-selected %}class="active"{% endblock %}

{% block content %}
	<form class="form-horizontal" role="form" action="/add_players/" method="post">
			{% if created %}
				Player Created Successfully!<br/>
			{% endif %}
		<div class="form-group">
			<label class="col-md-2 control-label">Player Name:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="player_name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Photo Filename:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="photo_filename"><br/>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-sm-offset-2">
				<button type="submit" class="btn btn-default">Create Player</button>
			</div>
		</div>
	</form>
{% endblock %}