{% extends "base.html" %}

{% block add_head %}
<script src="{{js_path}}jquery.upvote.js"></script>

<link rel="stylesheet" href="{{css_path}}jquery.upvote.css">
{% endblock %}

{% block add-action-selected %}class="active"{% endblock %}

{% block content %}
	<div class="container-fluid">
		{% if show_today %}
			{% if created %}
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<div class="label label-info" style="font-size:large;">Action Added Successfully!</div>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-danger">
						<div class="panel-heading x-large-font">Add Action - Theme: {{show.theme.get.name}}</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form" action="/add_actions/" method="post">
								<div class="form-group">
									<div class="col-md-9">
										<input type="text" class="form-control" name="entry_value">
									</div>
									<div>
										<button type="submit" class="btn btn-default">Add Action</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading x-large-font">Vote for Actions</div>
						<div class="panel-body">
							{% for action in actions %}
								<div class="row">
									<div class="col-md-1">
										<div class="upvote">
											<form action="/add_actions/" method="post">
											    <input type="hidden" name="upvote" value="{{action.key.id}}"/>
											    <button class="upvote upvote-position" type="submit"></button>
											    <span class="count upvote-position">&nbsp;&nbsp;{{action.vote_value}}</span>
											</form>
										</div>
									</div>
									<div class="col-md-9">
										<span class="word-wrap entered-value">{{action.description}}</span>
									</div>
									{% if is_admin  or session_id == action.session_id %}
                                        <div class="col-md-1">
                                            <form class="form-horizontal" role="form" action="/add_actions/" method="post">
                                                <input type="hidden" name="delete_id" value="{{action.key.id}}"/>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    {% endif %}
								</div>
								{% if not forloop.last %}
									<hr class="thick-divider bg-primary"/>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-md-4 label label-info" style="font-size:large;">Sorry! There's no show scheduled today!</div>
			</div>
		{% endif %}
	</div>
{% endblock %}