<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{css_path}}bootstrap.min.css" rel="stylesheet" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{css_path}}base.css">
  	
  	<script src="{{js_path}}jquery-1.11.0.min.js"></script>
  	<script src="{{js_path}}bootstrap.min.js"></script>
  	
  	{% block add_head %}{% endblock %}
  	<title>{% block title %}Choose Your Own Improventure{% endblock %}</title>
  	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  </head>

  <body>
  	{% block nav_bar %}
		<nav id="top-nav-bar" class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Improventure</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li {% block home-selected %}{% endblock %}><a href="/">Home</a></li>
					<li {% block add-action-selected %}{% endblock %}><a href="/add_actions/">Actions</a></li>
					<li {% block add-theme-selected %}{% endblock %}><a href="/add_themes/">Themes</a></li>
					{% if is_admin %}
						<li {% block create-selected %}{% endblock %}><a href="/create_show/">Create Show</a></li>
						<li {% block delete-shows-selected %}{% endblock %}><a href="/delete_shows/">Delete Shows</a></li>
						<li {% block delete-action-selected %}{% endblock %}><a href="/delete_actions/">Delete Actions</a></li>
						<li {% block delete-theme-selected %}{% endblock %}><a href="/delete_themes/">Delete Themes</a></li>
						<li {% block add-player-selected %}{% endblock %}><a href="/add_players/">Add Players</a></li>
						<li {% block test-js-selected %}{% endblock %}><a href="/js_test/">Test JS</a></li>
					{% endif %}
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="{{auth_url}}">{{auth_action}}</a></li>
				  </ul>
				  <p class="navbar-text navbar-right">{{user.nickname}}</p>
				</div>
			</div>
		</nav>
	{% endblock %}

  	<div id="main-container">
    	{% block content %}{% endblock %}
  	</div>
  </body>
</html>