<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="{{image_path}}adventure-prov_profile_pic.jpg" />
    <meta property="og:title" content="Adventure-prov" />
    <meta property="og:description" content="An improvised show that lets you decide the action with mobile voting!" />
    <link rel="image_src" href="{{image_path}}adventure-prov_profile_pic.jpg" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href="{{css_path}}bootstrap.min.css" rel="stylesheet" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{css_path}}base.css">
  	
  	<script src="{{js_path}}jquery-1.11.0.min.js"></script>
  	<script src="{{js_path}}bootstrap.min.js"></script>
  	
  	{% block add_head %}{% endblock %}
  	<title>{% block title %}Adventure-prov{% endblock %}</title>
  	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  </head>

  <body>
  	{% block nav_bar %}
		<nav id="top-nav-bar" class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Adventure-prov</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li {% block home-selected %}{% endblock %}><a href="/">Home</a></li>
					{% if show_today %}{% if is_admin %}<li><a href="/show/{{current_show.key.id}}/"><strong>Show Admin</strong></a></li>{% else %}<li {% block live-vote-selected %}{% endblock %}><a href="/live_vote/"><strong>Live Vote!</strong></a></li>{% endif %}{% endif %}
					{% if show_today %}<li {% block add-action-selected %}{% endblock %}><a href="/add_actions/"><strong>Actions</strong> Add/Vote</a></li>{% endif %}
					{% comment %}<li {% block add-item-selected %}{% endblock %}><a href="/add_items/"><strong>Items</strong> Add/Vote</a></li>{% endcomment %}
					{% comment %}<li {% block add-character-selected %}{% endblock %}><a href="/add_characters/"><strong>Characters</strong> Add/Vote</a></li>{% endcomment %}
					{% if not show_today %}<li {% block add-theme-selected %}{% endblock %}><a href="/add_themes/"><strong>Themes</strong> Add/Vote</a></li>{% endif %}
					{% comment %}<li {% block other-shows-selected %}{% endblock %}><a href="/other_shows/">Other Shows</a></li>{% endcomment %}
					{% if is_admin %}
						<li class="dropdown{% block admin-selected %}{% endblock %}">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      							Admin <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
    							<li {% block create-selected %}{% endblock %}><a href="/create_show/">Create Show</a></li>
								<li {% block add-player-selected %}{% endblock %}><a href="/add_players/">Add Players</a></li>
								<li {% block delete-tools-selected %}{% endblock %}><a href="/delete_tools/">Delete Tools</a></li>
								<li {% block interval-timer-selected %}{% endblock %}><a href="/interval_timer/">Interval Timer</a></li>
								<li {% block test-js-selected %}{% endblock %}><a href="/js_test/">Test JS</a></li>
    						</ul>
  						</li>
					{% endif %}
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="{{auth_url}}">{{auth_action}}</a></li>
				  </ul>
				  <p class="navbar-text navbar-right">{{user.nickname}}</p>
				</div>
			</div>
		</nav>
	{% endblock %}

    {% block content %}{% endblock %}
  </body>
</html>