{% extends "base.html" %}

{% block add_head %}
<link rel="stylesheet" type="text/css" href="{{css_path}}jquery.datetimepicker.css"/ >
<script src="{{js_path}}jquery.datetimepicker.js"></script>

<script>
$(document).ready(function(){
  $('#datetimepicker').datetimepicker({
  	format:'d.m.Y H:i',
  	inline:true,
  	step:30,
  });
});
</script>
{% endblock %}

{% block admin-selected %} active{% endblock %}
{% block create-selected %}class="active"{% endblock %}

{% block content %}
	<form class="form-horizontal" role="form" action="/create_show/" method="post">
			{% if created %}
				Show Created Successfully!<br/>
			{% endif %}
		<div class="form-group">
			<label class="col-md-2 control-label">Theme:</label>
			<div class="col-sm-2">
				<select name="theme_id" class="form-control">
				  {% for theme in themes %}
					<option value="{{theme.key.id}}">{{theme.name}}</option>
				  {% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Scheduled Time:</label>
			<div class="col-sm-6">
				<input id="datetimepicker" class="form-control" type="text" name="scheduled">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Players:</label>
			<div class="col-sm-2">
				<select name="player_list" multiple class="form-control">
				  {% for player in players %}
					<option value="{{player.key.id}}">{{player.name}}</option>
				  {% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Action intervals (comma separated minutes - 0,2,4,6,8,10,12,14,16,18,20,22,24,25,26,27,28,29):</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="action_intervals"><br/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2">
				<button type="submit" class="btn btn-default">Create Show</button>
			</div>
		</div>
	</form>
{% endblock %}