{% extends "base.html" %}

{% block admin-selected %} active{% endblock %}
{% block create-selected %}class="active"{% endblock %}

{% block content %}
     <div class="container-fluid">
         {% if created %}
             <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="label label-info" style="font-size:large;">
                        Show Created Successfully!
                    </div>
                </div>
             </div>
         {% endif %}
         <form class="form-horizontal" role="form" action="/create_show/" method="post">
                 {% if created %}
                     Show Created Successfully!<br/>
                 {% endif %}
             <div class="form-group">
                 <label class="col-md-2 control-label">Vote Types:</label>
                 <div class="col-sm-2">
                     <select name="vote_type_list" multiple class="form-control">
                       {% for vote_type in vote_types %}
                         <option value="{{vote_type.key.id}}">{{vote_type.name}}</option>
                       {% endfor %}
                     </select>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">Players:</label>
                 <div class="col-sm-2">
                     <select name="player_list" multiple class="form-control">
                       {% for player in players %}
                         <option value="{{player.key.id}}">{{player.name}}</option>
                       {% endfor %}
                     </select>
                 </div>
             </div>
             
             <div class="form-group">
                 <div class="col-sm-offset-2">
                     <button type="submit" class="btn btn-default">Create Show</button>
                 </div>
             </div>
         </form>
	 </div>
{% endblock %}