{% extends "base.html" %}

{% block delete-action-selected %}class="active"{% endblock %}

{% block content %}
	{% if cur_deleted %}
		<div class="label label-info" style="font-size:large;">Deleted Successfully.</div>
	{% endif %}
	<form class="form-horizontal" role="form" action="/delete_actions/" method="post">
		<div class="form-group">
			<label class="col-md-2 control-label">Actions:</label>
			<div class="col-md-4">
				<select name="action_list" multiple class="form-control">
				{% for action in actions %}
					<option value="{{action.key.id}}">{{action.description}}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-md-offset-2">
			<button type="submit" class="btn btn-default">Delete Selected</button>
		</div>
	</form>
	{% if unused_deleted %}
		<div class="label label-info" style="font-size:large;">Deleted Un-used Successfully.</div>
	{% endif %}
	<form class="form-horizontal" role="form" action="/delete_actions/" method="post">
		<input type="hidden" name="delete_unused" value="True"/>
		<div class="col-md-offset-2">
			<button type="submit" class="btn btn-danger">Delete Un-used Actions</button>
		</div>
	</form>
{% endblock %}