{% extends "base.html" %}

{% block add_head %}
<link rel="stylesheet" type="text/css" href="{{css_path}}jquery.countdown.css">

<script src="{{js_path}}jquery.plugin.min.js"></script>
<script src="{{js_path}}jquery.countdown.min.js"></script>

<script>
$(document).ready(function(){
    var timer_json_url = '/interval_timer_json/{{show.key.id}}/';
    // Set up an initial time to get the timezone from
	var timer_end = new Date('{{now_tz|date:"F j, Y H:i:s"}}');
    (function timer_loop(){
        // Open the setTimeout
        setTimeout(function(){
            $.ajax({
                url: timer_json_url,
                error: function(timer_data){
                    console.log("Interval timer fetching error!");
                    console.log(timer_data);
                    timer_loop(); // recurse
                },
                success: function(timer_data){
                    timer_end.setHours(timer_data['hour'], timer_data['minute'], timer_data['second']);
                    var countdown_timer = $('<span id="countdown-timer" class="glowingLayout intervalTimerLayout" style="border-color: #000;"></span>');
				    // Set up the countdown clock
				    $(countdown_timer).countdown({
				        until: timer_end,
				        compact: true,
                        layout: '<span class="image{m10}"></span><span class="image{m1}"></span>' + 
                                '<span class="imageSep"></span>' + 
                                '<span class="image{s10}"></span><span class="image{s1}"></span>'});
                    // Clear out the countdown to refresh it
                    $('#countdown-column').html('');
                    $('#countdown-column').append($(countdown_timer));
                    timer_loop(); // recurse
                }
            });
	    }, 3000);
	})();
});
</script>
{% endblock %}

{% block admin-selected %} active{% endblock %}
{% block interval-timer-selected %}class="active"{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="countdown-column" class="col-md-2">
                <span class="glowingLayout intervalTimerLayout" style="border-color: #000;"></span>
            </div>
        </div>
    </div>
{% endblock %}