<div id="default-screen">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-3">
			<h3 class="text-center" style="background-color:#003D7A;">
				Choose Your Own Adventure-prov<br/>{{host_domain}}
			</h3>
		</div>
	</div>
</div>
<div id="player-action">
	{% for player_action in show.player_actions %}
		<div id="player-{{forloop.counter}}">
			<div class="row">	
				<div class="col-sm-4 col-sm-offset-3"> 
					<div class="panel panel-info">
						<div class="panel-body">
							<div class="row text-center">
								<img src="{{player_image_path}}{{player_action.player.get.photo_filename}}" alt="{{player_action.player.get.name}}" class="img-responsive img-thumbnail">
							</div>
							<div class="row">
								<div class="col-sm-4 col-sm-offset-4">
									<span id="glowing-layout-{{player_action.interval}}" class="countdown glowingLayout"></span>
								</div>
							</div>
						</div>
						<div id="pa-{{forloop.counter}}" class="panel-footer" style="background-color:black;"></div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>