<div id="default-screen">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-3">
			<h3 class="text-center" style="background-color:#003D7A;">Choose Your Own Improventure<br/>{{host_domain}}
				<br/><span class="medium-font">If options aren't displaying, click here: </span><a href="{{path_qs}}" class="btn btn-info large-font">Refresh</a>
			</h3>
		</div>
	</div>
</div>
<div id="player-action">
	{% for player_action in show.player_actions %}
		<div id="player-{{forloop.counter}}">
			<div class="row">	
				<div class="col-sm-4 col-sm-offset-3"> 
					<div class="panel panel-info">
						<div class="panel-body">
							<div class="row text-center">
								<img src="{{player_image_path}}{{player_action.player.get.photo_filename}}" alt="{{player_action.player.get.name}}" class="img-responsive img-thumbnail">
							</div>
							<div class="row">
								<div class="col-sm-4 col-sm-offset-4">
									<span id="glowing-layout-{{player_action.interval}}" class="countdown glowingLayout"></span>
								</div>
							</div>
						</div>
						<div id="player-action-description-{{forloop.counter}}" class="panel-footer" style="background-color:black;">
							<div id="pa-row-{{player_action.interval}}-1" class="row">
								<div class="col-sm-12">
									<form action="/show/{{show.key.id}}/" method="post">
										<input id="po-{{player_action.interval}}-1-act" type="hidden" name="action_id" value="" />
										<input type="hidden" name="player_id" value="{{player_action.player.id}}" />
										<input type="hidden" name="interval" value="{{player_action.interval}}" />
										<input id="po-{{player_action.interval}}-1-btn" type="submit" class="btn btn-primary btn-block word-wrap" value="No other action options"/>
										<div id="pb-{{player_action.interval}}-1" class="progress-bar"><div></div></div>
									</form>
								</div>
							</div>
							<div id="pa-row-{{player_action.interval}}-2" class="row">
								<div class="col-sm-12">
									<form action="/show/{{show.key.id}}/" method="post">
										<input id="po-{{player_action.interval}}-2-act" type="hidden" name="action_id" value="" />
										<input type="hidden" name="player_id" value="{{player_action.player.id}}" />
										<input type="hidden" name="interval" value="{{player_action.interval}}" />
										<input id="po-{{player_action.interval}}-2-btn" type="submit" class="btn btn-primary btn-block word-wrap" value="No other action options"/>
										<div id="pb-{{player_action.interval}}-2" class="progress-bar"><div></div></div>
									</form>
								</div>
							</div>
							<div id="pa-row-{{player_action.interval}}-3" class="row">
								<div class="col-sm-12">
									<form action="/show/{{show.key.id}}/" method="post">
										<input id="po-{{player_action.interval}}-3-act" type="hidden" name="action_id" value="" />
										<input type="hidden" name="player_id" value="{{player_action.player.id}}" />
										<input type="hidden" name="interval" value="{{player_action.interval}}" />
										<input id="po-{{player_action.interval}}-3-btn" type="submit" class="btn btn-primary btn-block word-wrap" value="No other action options"/>
										<div id="pb-{{player_action.interval}}-3" class="progress-bar"><div></div></div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div id="va-{{player_action.interval}}-btn" class="btn btn-primary btn-block word-wrap x-large-font voted-action-btn">{% if voted %}Vote Submitted!{% endif %}</div>
									<div id="pb-{{player_action.interval}}-final" class="progress-bar voted-action-btn"><div></div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>