<div class="container-fluid">
	
	<div id="default-screen">
		<div class="row">
			<div class="col-sm-11">
				<h3 class="text-center" style="background-color:#003D7A;">
					<a href="/" class="white-link">{{host_domain}}</a> - Tonight's Theme: {{show.theme.get.name}}
				</h3>
			</div>
		</div>
    </div>
    
	<div id="current-vote"></div>
	
	{% if show.is_today %}
		<div id="vote-selection-screen" class="col-md-5 col-md-offset-3">
			
			<form action="/show/{{show.key.id}}/" method="post">
				<input type="hidden" name="lock_vote" value="True">
				<input type="submit" class="btn btn-info btn-block btn-lg x-large-font" value="Voting {% if show.locked %}Locked{% else %}Unlocked{% endif %}">
			</form>
			<hr/>
			
			<form action="/show/{{show.key.id}}/" method="post">
				<input type="hidden" name="show_leaderboard" value="True">
				<input type="submit" class="btn btn-default btn-block btn-lg x-large-font" value="Leaderboard">
			</form>
			<hr/>
			{% for vote_type in show.vote_types %}
				<form id="{{vote_type.name}}-vote" action="/show/{{show.key.id}}/" method="post">
					<input type="hidden" name="vote_start" value="{{vote_type.get.name}}">					
					{% if vote_type.get.has_intervals %}
						{% if vote_type.get.remaining_intervals %}
							{% if vote_type.get.suggestion_pool.get.available_suggestions >= vote_type.get.remaining_intervals %}
								<input type="submit" class="btn btn-block btn-lg white-input x-large-font" style="background-color:{{vote_type.get.button_color}};" value="Start the {{vote_type.get.display_name}} Interval Vote">
							{% else %}
								<div class="btn btn-block btn-lg x-large-font word-wrap" style="background-color:{{vote_type.get.button_color}};">Need more {{vote_type.get.suggestion_pool.get.display_name}} to start the {{vote_type.get.display_name}} Intervals</div>
							{% endif %}
						{% else %}
							<div class="btn btn-block btn-lg x-large-font word-wrap" style="background-color:{{vote_type.get.button_color}};">No more {{vote_type.get.display_name}} Intervals</div>
						{% endif %}
					{% else %}
						{% if vote_type.get.suggestion_pool.get.available_suggestions or vote_type.get.name == 'test' %}
							<input type="submit" class="btn btn-block btn-lg white-input x-large-font" style="background-color:{{vote_type.get.button_color}};" value="Start the {{vote_type.get.display_name}} Vote">
						{% else %}
							<div class="btn btn-block btn-lg x-large-font word-wrap" style="background-color:{{vote_type.get.button_color}};">Need more {{vote_type.get.suggestion_pool.get.display_name}} to start the {{vote_type.get.display_name}} Vote</div>
						{% endif %}
					{% endif %}
				</form>
				<hr/>
			{% endfor %}

		</div>
	{% endif %}
</div>