<link rel="stylesheet" type="text/css" href="{{css_path}}jquery.countdown.css">

<script src="{{js_path}}jquery.playSound.js"></script>
<script src="{{js_path}}jquery.plugin.min.js"></script>
<script src="{{js_path}}jquery.countdown.min.js"></script>

<script>
	$( document ).ready(function() {
		function is_defined(variable, dflt) {
			return typeof variable === "undefined" ? dflt : variable;
		}			
		function progress(percent, $element, option_width) {
			var p_percent = is_defined(percent, 0);
			var p_option_width = is_defined(option_width, 0);
			$element.width(p_option_width);
			progressBarWidth = p_percent * p_option_width / 100;
			$element.find('div').animate({ width: progressBarWidth }, 500).html(p_percent + "%&nbsp;");
		}
		function get_show_state() {
			$.getJSON("/show_json/", function( data ) {
				 return data
			});
		}
		function add_options(element_id, submit_name, option_data) {
			var all_progress_bars = $(element_id).find('div.progress-bar');
			// If the options haven't been created, create and display them
			if ( $(all_progress_bars).size() == 0 ) {
				for (var option_num in option_data) {
					var option_row = $('<div class="row"></div>');
					var option_column = $('<div class="col-sm-12"></div>');
					// Create the button with the option name on it
					var option_btn = $('<button class="btn btn-primary btn-block word-wrap">' + option_dict['name'] + '</button>');
					option_btn.appendTo($(option_column));
					// Create the progress bar html
					var option_percent = $('<div class="progress-bar"><div></div></div>');
					// Attach a progress bar below the option button
					progress(option_dict['percent'], $(option_percent), $(option_btn).width());
					$(option_column).append($(option_percent));
					// Attach the row to the given element, and the column to the row
					$(element_id).append($(option_row));
					$(option_row).append($(option_column));
				}
			}
			// Otherwise, updated the options with their current progress
			else {
				// Loop through all the progress bars
				$(all_progress_bars).each(function(index) {
					// Update the progress bars in order of how the options are listed
					progress(option_data[index]['percent'], $(this), $(this).prev().width());
				});
			}
		}
		function add_voted_option(attach_element, voted_dict) {
			var option_row = $('<div class="row"></div>');
			var option_column = $('<div class="col-sm-12"></div>');
			// Create the button with the option name on it
			var option_btn = $('<button class="btn btn-primary btn-block word-wrap x-large-font voted-action-btn">' + voted_dict['voted'] + '</button>');
			option_btn.appendTo($(option_column));
			// Create the progress bar html
			var option_percent = $('<div class="progress-bar voted-action-btn"><div></div></div>');
			// Attach a progress bar below the option button
			progress(voted_dict['percent'], $(option_percent), $(option_btn).width());
			$(option_column).append($(option_percent));
			// Attach the row to the given element, and the column to the row
			$(element_id).append($(option_row));
			$(option_row).append($(option_column));
		}
		{% include "interval_show_js.html" %}
		{% comment %}{% include "hero_show_js.html" %}{% endcomment %}
		// Hide all objects initially
		$( "#init-players" ).hide();
		$( "#player-action" ).hide();
		var current_time = new Date('{{now_tz|date:"F j, Y H:i:s"}}');
		(function show_loop(){
		   setTimeout(function(){
			   $.ajax({
				   url: '/show_json/{{show.key.id}}/',
				   success: function( response ){
					    // do something with the response
					   	{% if not mocked %}
							data = get_show_state();
							
							current_time.setHours(data['hour'], data['minute'], data['second']);
							
						{% else %}
							var show_state = '{{show_state}}';
							var vote_display = '{{vote_display}}';
							var d = new Date();
							current_time.setHours(d.getHours(), d.getMinutes(), d.getSeconds());
					    {% endif %}
					    var vote_display = data['display'];
						var show_state = data['state'];
						var option_data = data['options'];
					    $( "#top-nav-bar" ).hide();
						$( "#start-screen" ).hide();
						// Run the current show state
						if (show_state == 'interval') {
							run_interval_show();
						}
						else {
							if (show_state != 'default') {
								run_vote();
							}
							else {
								$( "#top-nav-bar" ).hide();
								$( "#start-screen" ).show();
							}
						}
					    show_loop(); // recurse
				   }
			   });
		   }, 1000);
		})();
	});
</script>