<div class="container-fluid">
	
	<div id="default-screen">
		<div class="row">
			<div class="col-sm-11">
				<h3 class="text-center" style="background-color:#003D7A;">
					<a href="/" class="white-link">{{host_domain}}</a> (Text: 23343)
				</h3>
			</div>
		</div>
    </div>
    
	<div id="current-vote"></div>
	
	{% if show.is_today %}	
		<div id="vote-selection-screen" class="vote-selection-column">
			
			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="test_vote" value="True">
						<input type="submit" class="btn btn-default btn-block btn-lg" value="Start the Live Voting Test">
					</form>
					<hr/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="start_show" value="True">
						{% if available_actions >= show.player_actions|length %}
							<input type="submit" class="btn btn-block btn-lg white-input" style="background-color:#003D7A;"  value="Start the Interval Show">
						{% else %}
							<div class="btn btn-block btn-lg" style="background-color:#003D7A;">Need more actions to start Interval Show</div>
						{% endif %}
					</form>
					<hr/>
				</div>
			</div>

			<div id="hero-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="hero_vote" value="True">
						<input type="submit" class="btn btn-primary btn-block btn-lg" value="Start the Hero Vote">
					</form>
				</div>
			</div>
			
			<div id="villain-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="villain_vote" value="True">
						<input type="submit" class="btn btn-block btn-lg white-input" style="background-color:#6916E6;" value="Start the Villain Vote">
					</form>
				</div>
			</div>
			
			<div id="incident-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="incident_vote" value="True">
						{% if available_actions %}
							<input type="submit" class="btn btn-block btn-lg white-input" style="background-color:#A30000;" value="Start the Incident Vote">
						{% else %}
							<div class="btn btn-block btn-lg" style="background-color:#A30000;">Need more Actions to start Incident Vote</div>
						{% endif %}
					</form>
				</div>
			</div>
		
			
			<div id="item-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="item_vote" value="True">
						{% if available_items %}
							<input type="submit" class="btn btn-success btn-block btn-lg" value="Start the Item Vote">
						{% else %}
							<div class="btn btn-success btn-block btn-lg">Need more items to start Item Vote</div>
						{% endif %}
					</form>
				</div>
			</div>
			
			<div id="lover-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="lover_vote" value="True">
						<input type="submit" class="btn btn-block btn-lg white-input" style="background-color:#FF3399;" value="Start the Lover Vote">
					</form>
				</div>
			</div>
		
			{% comment %}
			<div id="wildcard-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="wildcard_vote" value="True">
						{% if available_characters %}
							<input type="submit" class="btn btn-info btn-block btn-lg" value="Start the Character Vote">
						{% else %}
							<div class="btn btn-info btn-block btn-lg">Need more characters to start Character Vote</div>
						{% endif %}
					</form>
				</div>
			</div>
			{% endcomment %}
			
			<div id="shapeshifter-vote" class="row">
				<div class="col-md-4 col-md-offset-3">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="shapeshifter_vote" value="True">
						<input type="submit" class="btn btn-warning btn-block btn-lg" value="Start the Shapeshifter Vote">
					</form>
				</div>
			</div>

		</div>
	{% endif %}
</div>