/*
 * -- HOMEPAGE STYLES --
 * These are the styles for the content of the homepage
 */

.show-link a {
	text-align: center;
    display: block;
    margin: 0 auto;
	font-size:xx-large;
	border:5px solid;
	border-radius:25px;
	border-color: #005CE6;
	text-decoration:none;
    background-color: #005CE6;
    color: #FFFFFF;
}

.show-link a:hover {
    background-color: #0052CC;
    color: #FFFFFF;
}

.show-link a:visited {
    color: #FFFFFF;
}

a.white-link,a.white-link:visited,a.white-link:hover {
	color: white;
	text-decoration:none;
}

div.header-btn,div.header-btn:hover {
	font-size:x-large;
	cursor:default;
}

div.home-show-btn {
	font-size:x-large;
}

div.name-header {
	background-color:#428bca;
	font-size:large;
}

div.x-large-font {
	font-size:x-large;
}

button.voted-action-btn {
	cursor:default;
}