/*
 * -- TOP NAV MENU STYLES --
 * This is the blue top menu
 */

#nav, #nav li div {
    background-color: #003D7A;
}

#header div {
    background-color: #003D7A;
}

#nav li a:hover {
    background-color: #0052A3;
    color: #FFFFFF;
}

#nav li a:visited {
    color: #FFFFFF;
}

#nav li a {
    background-color: #003D7A;
    color: #FFFFFF;
}

.imp-menu-selected li {
	background-color: #003D7A;
    color: #FFFFFF;
}

.home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

.white-text {
	color: #FFFFFF;
}

/*
 * -- HOMEPAGE STYLES --
 * These are the styles for the content of the homepage
 */

#main-container h1 {
	text-align:center;
}

#main-container {
	background-color: #000000;
	color: #FFFFFF;
}

.current-box {
	padding: 1em;
	text-align: center;
}

#home-page h1 {
	text-align: center;
	font-size:xx-large;
	border-bottom: 8px solid #FFFFFF;
    color: #FFFFFF;
}

#home-page a {
	text-align: center;
    display: block;
    margin: 0 auto;
	font-size:xx-large;
	border:5px solid;
	border-radius:25px;
	border-color: #005CE6;
	text-decoration:none;
    background-color: #005CE6;
    color: #FFFFFF;
}

#home-page a:hover {
    background-color: #0052CC;
    color: #FFFFFF;
}

#home-page a:visited {
    color: #FFFFFF;
}

#create-form label {
	padding: 3em;
}