/*
 * -- HOMEPAGE STYLES --
 * These are the styles for the content of the homepage
 */

.show-link a {
	text-align: center;
    display: block;
    margin: 0 auto;
	font-size:xx-large;
	border:5px solid;
	border-radius:25px;
	border-color: #005CE6;
	text-decoration:none;
    background-color: #005CE6;
    color: #FFFFFF;
}

.show-link a:hover {
    background-color: #0052CC;
    color: #FFFFFF;
}

.show-link a:visited {
    color: #FFFFFF;
}

a.white-link,a.white-link:visited,a.white-link:hover {
	color: white;
	text-decoration:none;
}

input.white-input,input.white-input:visited,input.white-input:hover {
	color: white;
	text-decoration:none;
}

input.x-large-font {
	font-size:x-large;
}

div.header-btn,div.header-btn:hover {
	font-size:large;
	cursor:default;
}

div.home-show-btn {
	font-size:x-large;
}

div.name-header {
	background-color:#428bca;
	font-size:large;
}

div.x-large-font {
	font-size:x-large;
}

div.large-font {
	font-size:large;
}

div.medium-font {
	font-size:small;
}

button.x-large-font {
	font-size:x-large;
}

button.vote-option-font {
	font-size:xx-large;
}

.vote-selection-column {
	position:relative;
	left:48px;
	top: 20px;
}

.countdown-position {
	position:relative;
	left:40px;
}

.voting-interval-thumbnail {
	position:relative;
	left:90px;
}

.result-thumbnail {
	position:relative;
	left:45px;
}

.role-player-panels {
	position:relative;
	left:185px;
}

@media (min-width: @screen-sm-min) {
	.home-button-list {
		position:relative;
		left:60px;
	}
}

a.large-font {
	font-size:large;
}

span.medium-font {
	font-size:medium;
}

span.entered-value {
	color:black;
	font-size:large;
}

span.vote-value {
	color: black;
	font-weight:bold;
	font-size: x-large;
}

span.vote-button-label {
	color: black;
	font-size: large;
}

.progress-bar {
	font-size: large;
	width: 0px;
	height: 22px;
	border: 1px solid #111;
	background-color: #595959;
}

.progress-bar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #CC0000;
}

.word-wrap {
	white-space: normal;
}

hr.thick-divider {
	height:3px;
	border:none;
	color:#333;
}

.intervalTimerLayout span {
	display: block;
	float: left;
	width: 34px;
	height: 50px; 
    background: url(img/countdownGlowing.gif) no-repeat 0px 0px;
}

.intervalTimerLayout span.imageSep {
	background-position: -374px 0px;
}

#item-alert {
	font-size: large;
	z-index: 50000;
}

.overlay-alert {
    z-index: 50000;
}

