{% extends "base.html" %}

{% block add_head %}
<script src="{{js_path}}jquery.upvote.js"></script>

<link rel="stylesheet" href="{{css_path}}jquery.upvote.css">
{% endblock %}

{% block add-theme-selected %}class="active"{% endblock %}

{% block content %}
	{% if created %}
		<div class="label label-info" style="font-size:large;">Theme Added Successfully!</div>
	{% endif %}
	<form class="form-horizontal" role="form" action="/add_themes/" method="post">
		<div class="form-group">
			<label class="col-md-2 control-label">Theme:</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="theme_name">
			</div>
		</div>
		<div class="col-md-offset-2">
			<button type="submit" class="btn btn-default">Add Theme</button>
		</div>
	</form>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading"><h3>Vote for Themes!</h3></div>
					<div class="panel-body">
						{% for theme in themes %}
							<div class="row">
								<div class="col-md-1">
									<div class="upvote">
										<form action="/add_themes/" method="post">
											<input type="hidden" name="upvote" value="{{theme.key.id}}"/>
											<button class="upvote" type="submit"></button>
										</form> 
										<span class="count">&nbsp;&nbsp;{{theme.vote_value}}</span>
										<form action="/add_themes/" method="post">
											<input type="hidden" name="downvote" value="{{theme.key.id}}"/>
											<button class="downvote" type="submit"></button>
										</form>
									</div>
								</div>
								<div class="col-md-6" style="padding-top:5%;">
									<span style="color:black;font-size:x-large;">&nbsp;{{theme.name}}</span>
								</div>
							</div>
							<hr/>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}