{% extends "base.html" %}

{% block add-death-selected %}class="active"{% endblock %}

{% block content %}
	{% if show_today %}
		{% if created %}
			<div class="label label-info" style="font-size:large;">Death Added Successfully!</div>
		{% endif %}
		<form class="form-horizontal" role="form" action="/add_deaths/" method="post">
			<div class="form-group">
				<label class="col-md-2 control-label">Death:</label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="cause">
				</div>
			</div>
			<div class="col-md-offset-2">
				<button type="submit" class="btn btn-default">Add Death</button>
			</div>
		</form>
	{% else %}
		<div class="row">
			<div class="col-md-4 label label-info" style="font-size:large;">Sorry! You can only add deaths on show days!</div>
		</div>
	{% endif %}
{% endblock %}