<html>
  <head>
  	{% block add_head %}{% endblock %}
  	<title>{% block title %}Improv Death{% endblock %}</title>
  </head>

  <body>
  	<div id="topbar">
        {% block topbar %}
        <ul>
        	{% if user %}
        		<li>Welcome, {{user.nickname}}</li>
        	{% endif %}
            <li><a href="{{auth_url}}">{{auth_action}}</a></li>
            {% if is_admin %}
            	<li><a href="/admin/">Admin</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </div>
  	<div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>