{% extends "base.html" %}

{% block add_head %}
<link rel="stylesheet" type="text/css" href="{{css_path}}jquery.datetimepicker.css"/ >
<script src="{{js_path}}jquery.datetimepicker.js"></script>

<script>
$(document).ready(function(){
  $('#datetimepicker').datetimepicker({
  	format:'d.m.Y H:i',
  	inline:true,
  });
});
</script>
{% endblock %}

{% block create-selected %}class="active"{% endblock %}

{% block content %}
	<form class="form-horizontal" role="form" action="/create_show/" method="post">
			{% if created %}
				Show Created Successfully!<br/>
			{% endif %}
		<div class="form-group">
			<label class="col-md-2 control-label">Length:</label>
			<div class="col-sm-1">
				<input type="text" class="form-control" name="show_length">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Theme:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" name="theme">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Style:</label>
			<div class="col-sm-3">
				<select name="show_style" class="form-control">
					<option value="front">Deaths at beginning only</option>
					<option value="interval">Death intervals</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Scheduled Time:</label>
			<div class="col-sm-6">
				<input id="datetimepicker" class="form-control" type="text" name="scheduled">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Players:</label>
			<div class="col-sm-2">
				<select name="player_list" multiple class="form-control">
				  {% for player in players %}
					<option value="{{player.key.id}}">{{player.name}}</option>
				  {% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Death intervals (comma separated minutes):</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="death_intervals"><br/>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-sm-offset-2">
				<button type="submit" class="btn btn-default">Create Show</button>
			</div>
		</div>
	</form>
{% endblock %}