{% extends "base.html" %}

{% block home-selected %}class="active"{% endblock %}

{% block content %}
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Current Show</div>
				<div class="panel-body">
					{% if current_show.scheduled %}
						<div class="btn btn-primary btn-block">
							<a class-"text-center" style="color:white;" onMouseOver="this.style.color='#fff' onMouseOut="this.style.color='#fff'"
								   href="/show/{{current_show.key.id}}/">{{current_show.scheduled|date:"l N jS, Y @ P"}}</a>
						</div>
					{% else %}
						No Upcoming Shows
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-success">
				<div class="panel-heading">Future Shows</div>
				<div class="panel-body">
					{% if future_shows %}
						{% for show in future_shows %}
							{% if show.scheduled %}
							  <div class="btn btn-info btn-block">
								<a class-"text-center" style="color:white;" onMouseOver="this.style.color='#fff' onMouseOut="this.style.color='#fff'"
								   href="/show/{{show.key.id}}/">{{show.scheduled|date:"l N jS, Y @ P"}}</a><br/>
							  </div>
							{% endif %}
						{% endfor %}
					{% else %}
						No Future Shows Listed
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-info">
				<div class="panel-heading">Previous Shows</div>
				<div class="panel-body">
					{% if previous_shows %}
						{% for show in previous_shows %}
							{% if show.scheduled %}
							  <div class="btn btn-info btn-block">
								<a class-"text-center" style="color:white;" onMouseOver="this.style.color='#fff' onMouseOut="this.style.color='#fff'"
								   href="/show/{{show.key.id}}/">{{show.scheduled|date:"l N jS, Y @ P"}}</a><br/>
							  </div>
							{% endif %}
						{% endfor %}
					{% else %}
						No Previous Shows Listed
					{% endif %}
				</div>
			</div>
		</div>
	</div>
  </div>
{% endblock %}