{% extends "base.html" %}
{% block add_head %}
	<script src="{{js_path}}jquery.playSound.js"></script>
	<script>
		$( document ).ready(function() {
			// Hide all objects initially
			$( "#init-players" ).hide();
			$( "#player-death" ).hide();
			$( "#default" ).show();
			{% if show.running %}
				var prev_event = "default"
				doPoll();
			{% endif %}
			// Poll function that checks for a change every 5 seconds using "always"
			// "done" specifies what to do on a successful fetch
			function doPoll(){
				$.get('/show/{{show.key.id}}/show.json')
						.fail(
							function(data) {
								console.log("Fetch failed.")
								console.log(data)
							}
						)
						.done(
							function(data) {
								console.log(data);
								// Something has changed
								if (data.event !== prev_event) {
									console.log("Change");
									// IF a player has died
									if (data.event === "player-death") {
										// Change the img source to the player that died
										var src = {{image_path}} + data.player_photo
										$("#player-death-img").attr("src", src);
									}
									// Hide all divs
									$( "#init-players,#player-death,#default" ).hide();
									// Show just the active event div
									$("#" + data.event).show();
									if (data.event !== "default") {
										// Play bell toll
										$.playSound('{{host_url}}{{audio_path}}bell_toll');
									}
								}
								// Store the previous event
								prev_event = data.event
							}
						)
						.always(
							function() {
							setTimeout(doPoll, 5000);
							}
						);
			}
		});
	</script>
{% endblock %}
{% block content %}
	<div class="container-fluid">
		{% if show.running %}
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<div id="init-players">
						<h1>Player images</h1>
					</div>
					{% for player in show.players %}
						<img src="{{image_path}}{{player.photo_filename}}" alt="{{player.name}}" class="img-thumbnail">
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if show.is_today and is_admin and not show.running %}		
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h1>Improv Death</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<form action="/show/{{show.key.id}}/" method="post">
						<input type="hidden" name="start_show" value="True">
						<input type="submit" class="btn btn-info btn-block" value="Start the Show!">
					</form>
				</div>
			</div>
		{% endif %}
		{% if show.is_today and not is_admin and not show.running %}		
			Show starts: {{show.scheduled}}
		{% endif %}
		{% if show.in_future %}
			Show is scheduled for {{show.scheduled}}
		{% endif %}
		{% if show.in_past %}
			Date of Show: {{show.scheduled}}
		{% endif %}
	</div>
{% endblock %}