{% extends "base.html" %}
{% block content %}
	<div class="container-fluid">
		{% if show.running %}
			<div id="show-screen">
				<img src="/static/img/improv_death.png"/>
			</div>
		{% endif %}
		{% if show.is_today and is_admin and not show.running %}		
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h1>Improv Death</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<form action="/show/{{show}}/" method="post">
						<input type="hidden" name="start_show" value="True">
						<input type="submit" class="btn btn-info btn-block" value="Start the Show!">
					</form>
				</div>
			</div>
		{% endif %}
		{% if show.is_today and not is_admin and not show.running %}		
			Show starts: {{show.scheduled}}
		{% endif %}
		{% if show.in_future %}
			Show is scheduled for {{show.scheduled}}
		{% endif %}
		{% if show.in_past %}
			Date of Show: {{show.scheduled}}
		{% endif %}
	</div>
{% endblock %}